.permissions-modal{
    font-family: 'Open sans';
}

#permissions-dropdown__toggle{
    box-shadow: none;
}

.permissions-modal__content{
    height: 80%;
    overflow: auto;
    padding: 0;
    scrollbar-width: none;
    user-select: none;
}

.permissions-modal__header{
    background-color: #1153AB;
    height: 4rem;
    color: #F5F5F5;
}

.permissions-modal__subheader{
    background-color: white;
    height: 6rem;
    border: 1px solid #F5F5F5;
}

.permissions-dropdown__header{
    width: 7.3rem;
}

.onlyoffice-permissions-btn{
    transform: scale(100%);
    transition: all 0.2s linear;
}

.onlyoffice-permissions-btn:hover{
    transform: scale(120%) translateX(6%);
    transition: all 0.2s linear;
}

.onlyoffice-permissions-modal__footer{
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: auto;
    margin-bottom: 1rem;
    padding-bottom: 1%;
    flex-wrap: wrap;
}

.onlyoffice-permissions-modal__footer>button{
    margin-right: 1rem;
}
