.word{
  background-image: url("../images/docx_icon.svg") !important;
}

.ppt{
  background-image: url("../images/generic_slide_icon.svg") !important;
}

.excel{
  background-image: url("../images/xlsx_icon.svg") !important;
}

a[aria-label $= '.doc']{
  .word{
    background-image: url("../images/generic_word_icon.svg") !important;
  }
}

a[aria-label $= '.pptx']{
  .ppt{
    background-image: url("../images/pptx_icon.svg") !important;
  }
}

a[aria-label $= '.xls']{
  .generic{
    background-image: url("../images/generic_cell_icon.svg") !important;
  }
}

a[aria-label $= '.csv']{
  .excel{
    background-image: url("../images/generic_cell_icon.svg") !important;
  }
}

a[aria-label $= '.odt']{
  .generic{
    background-image: url("../images/generic_word_icon.svg") !important;
  }
}

a[aria-label $= '.docm']{
  .generic{
    background-image: url("../images/generic_word_icon.svg") !important;
  }
}

a[aria-label $= '.dot']{
  .generic{
    background-image: url("../images/generic_word_icon.svg") !important;
  }
}

a[aria-label $= '.dotx']{
  .generic{
    background-image: url("../images/generic_word_icon.svg") !important;
  }
}

a[aria-label $= '.dotm']{
  .generic{
    background-image: url("../images/generic_word_icon.svg") !important;
  }
}

a[aria-label $= '.fodt']{
  .generic{
    background-image: url("../images/generic_word_icon.svg") !important;
  }
}

a[aria-label $= '.ott']{
  .generic{
    background-image: url("../images/generic_word_icon.svg") !important;
  }
}

a[aria-label $= '.rtf']{
  .text{
    background-image: url("../images/generic_word_icon.svg") !important;
  }
}

a[aria-label $= '.ods']{
  .generic{
    background-image: url("../images/generic_cell_icon.svg") !important;
  }
}

a[aria-label $= '.fods']{
  .generic{
    background-image: url("../images/generic_cell_icon.svg") !important;
  }
}

a[aria-label $= '.ots']{
  .generic{
    background-image: url("../images/generic_cell_icon.svg") !important;
  }
}

a[aria-label $= '.odp']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.fodp']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.otp']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.pps']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.ppsx']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.ppsm']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.pptm']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.pot']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.potx']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.potm']{
  .generic{
    background-image: url("../images/generic_slide_icon.svg") !important;
  }
}

a[aria-label $= '.xlsm']{
  .generic{
    background-image: url("../images/generic_cell_icon.svg") !important;
  }
}

a[aria-label $= '.xlt']{
  .generic{
    background-image: url("../images/generic_cell_icon.svg") !important;
  }
}

a[aria-label $= '.xlmt']{
  .generic{
    background-image: url("../images/generic_cell_icon.svg") !important;
  }
}
