@import './colors.scss';
@import './mixins.scss';
@import './animations.scss';

.onlyoffice-modal__backdrop{
    @include parent_size();
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    overflow: hidden;
    background-color: $backdrop_color;
    animation-name: fadeIn;
    animation-duration: 0.3s
}

.onlyoffice-modal__backdrop_hide{
  animation-name: fadeOut;
  animation-duration: 0.3s;
}

.onlyoffice-modal__frame{
    @include parent_size();
    padding: 0;
    overflow: hidden;
    border: none;
    color: $modal_color;
    background-color: $modal_background_color;
    animation-name: fadeIn;
    animation-duration: 0.3s
}

.onlyoffice-editor__loader{
    @include absolute_center();
}
