.onlyoffice_preview__btn{
    transition: box-shadow .3s;
    margin-right: .5rem;
    cursor: pointer;
}

.onlyoffice_preview__btn:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.file-details__onlyoffice {
    position: relative;
    top: 15rem;
    display: flex;
    justify-content: flex-end;
}

@media all and (max-width: 768px) {
    .file-details__onlyoffice {
        position: static;
        justify-content: space-evenly;
    }

    .onlyoffice_preview__btn {
        margin-top: .5rem;
    }
}
