@import "./colors.scss";

.onlyoffice_preview__btn{
    transition: box-shadow .3s;
    margin-right: .5rem;
    cursor: pointer;
}

.onlyoffice_preview__btn:hover{
    @include light-theme {
        box-shadow: 0 0 11px $shadow_dark;
    }

    @include dark-theme {
        box-shadow: 0 0 11px $shadow_light;
    }
}

.file-details__onlyoffice {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 2;
}

@media all and (max-width: 768px) {
    .onlyoffice_preview__btn {
        margin-top: .5rem;
    }
}
